// Add your custom CSS here.
.ec-product-card.product-card {
  padding: 10px 55px 0 55px;
  border-radius: 0;
  border: none;
  text-align: center;
  background: url(/img/uploads/box-produto.png) no-repeat center top;
  min-height: 480px!important;
}
.products-carousel:first-child > .products-carousel__title {
  display: none !important
}
.banner-slider {
  max-width: 100% !important;
}
.btn.glide__arrow.glide__arrow--right, .btn.glide__arrow.glide__arrow--left {
  display: none !important;
}
.products-carousel .products-carousel__item:first-child, .products-carousel .products-carousel__item:nth-child(2)  {
  width: 276.77px !important;
  margin-right: 10% !important;
}
