// Add your custom CSS here.
.ec-product-card.product-card {
  text-align: center;
  background: url(/img/uploads/box-produto.png) no-repeat center top;
  min-height: 480px!important;
}
.products-carousel:first-child > .products-carousel__title {
  display: none !important
}
.banner-slider {
  max-width: 100% !important;
}
@media (min-width: 768px) {
  .products-carousel .products-carousel__item:first-child  {
    width: 280px !important;
    margin-right: 10% !important;
    margin-left: 1.5%
  }
  .products-carousel .products-carousel__item:nth-child(2) {
    width: 280px !important;
    margin-right: 10% !important;
  }
  .glide__slides.products-carousel__list {
    width: 1200px !important
  }
  .btn.glide__arrow.glide__arrow--right, .btn.glide__arrow.glide__arrow--left {
    display: none !important;
  }
  .redes-sociais-footer-mobile {
    display: none !important;
  }
  .redes-sociais-footer .container {
    display: -webkit-box!important;
    display: flex!important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
  .kit-blow {
    display: none !important;
  }
  .redes-sociais-footer-mobile {
    display: block !important;
  }
  .box-rede {
    text-align: center;
    height: auto;
  }
  .redes-sociais-footer .b-r {
    width: 100%;
  }
  .antes-depois {
    height: auto;
    background: #e1ebed;
    margin-bottom: -250px;
  }
}
.diferencas {
  text-align:center;border-top:solid 3px #f7004e;padding-top:60px;padding-bottom:80px;border-bottom:solid 3px #f7004e
}
.diferencas .blow1{
  margin-top:30px
}
.diferencas h3{
  font-weight:500;font-size:18px;color:#b31c3e
}
.diferencas h2{
  font-family:'Just Another Hand',cursive;
  color:#ed2a56;
  font-size:56px;
  font-weight:500
}
.blow1 img {
  width: 100%
}
.texto-central a{
  color:#ed2a56
}
.texto-central{
  text-align:center;
  font-family:'Just Another Hand',cursive;
  color:#ed2a56;
  font-size:46px;
  margin-top:50px;
  font-weight:500
}
.antes-depois{
  display:none
}
.powr-social-feed{
  text-align:left;margin-top:-10px
}
.antes-depois{
  background:url(/img/uploads/bg-central1.jpg) no-repeat center top;height:auto;position:relative;display:block;padding-bottom:80px
}
.antes-depois .item img{
  padding-bottom:10px
}
.antes-depois .item p{
  text-align:center;color:#3c3c3c;font-size:34px;line-height:35px;font-family:'Just Another Hand',cursive
}
.box-class{
  background:#e1ebed;width:270px;height:60px;margin:0 auto;position:relative;margin-top:-94px
}
.title-depois{
  padding-top:110px
}
.title-antes{
  font-family:'Just Another Hand',cursive;color:#ed2a56;font-size:66px;font-weight:500;margin-bottom:40px
}
.antes-depois .owl-carousel{padding-right:250px}
.kit-blow {
    background: url(/img/uploads/kit-blow.jpg) no-repeat center bottom;
    height: 702px;
    margin-top: 5%;
}
.kit-blow-title {
    background: url(/img/uploads/kit-blog-title.jpg) no-repeat center top;
    height: 50px;
    position: relative;
}
.redes-sociais-footer {
    margin-top: 40px;
    display: block;
    padding-top: 50px;
    background: url(/img/uploads/footer-redes.jpg) no-repeat center bottom;
    height: 450px;
}
.redes-sociais-footer .col-sm-6 {
    padding: 0;
}
.redes-sociais-footer .titulo {
    padding-bottom: 30px;
}
.box-rede {
    height: 185px;
}
.redes-sociais-footer .titulo img {
  max-width: 100%
}
