<!-- Add custom HTML to append on homepage bottom. -->
<div class="diferencas">
    <div class="container">
      <h2>Porque BlowHair?</h2>
      <h3>Veja a comparação porque nosso produto é o melhor do mercado</h3>
      <div class="row d-flex">
        <div class="col-sm-6 col-12 blow1">
          <img src="/img/uploads/newblog.png" alt="Blow Gummies">
        </div>
        <div class="col-sm-6 col-12 blow1">
          <img src="/img/uploads/crueldades.png" alt="Blow Gummies">
        </div>
      </div>
    </div>
</div>
<div class="texto-central">
  <div class="container">
    <a href="/compre-agora/">Compre Agora Nossas Gomas <!--Fantásticas Que Farão Seu Cabelo Crescer Rápido!--> </a>
  </div>
</div>
<div class="antes-depois">
  <div class="container">
    <div class="title-depois">
      <h2 class="title-antes">Confira o Antes e Depois</h2>
    </div>
    <script src="https://www.powr.io/powr.js?platform=html"></script><div class="powr-social-feed" id="65671ba5_1559056571"></div>
    <div class="box-class"></div>
  </div>
</div>
<div class="kit-blow">
  <div class="kit-blow-title"></div>
</div>
<div class="redes-sociais-footer">
  <div class="container d-flex">
    <div class="col-sm-6 col-12 hidden-xs">
      <div class="titulo"><img src="//cdn.ecvol.com/s/www.blowhair.com.br/uploads/face-bar.png" alt="Melhor goma para crescimento capilar, Goma Crescimento Capilar"></div>
      <div class="box-rede b-l">
        <div id="fb-root"></div>
        <script>/*<![CDATA[*/(function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));/*]]>*/</script>
        <div class="fb-page" data-href="https://www.facebook.com/BlowHairOficial" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BlowHairOficial" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BlowHairOficial">Blow Hair</a></blockquote></div>
      </div>
    </div>
    <div class="redes-sociais-footer-mobile col-12">
      <div class="titulo">
        <img src="/img/uploads/face-bar.png">
      </div>
      <div class="box-rede b-l">
        <div id="fb-root"></div>
        <script>/*<![CDATA[*/(function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));/*]]>*/</script>
        <div class="fb-page" data-href="https://www.facebook.com/BlowHairOficial" data-width="280" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/BlowHairOficial" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/BlowHairOficial">Blow Hair</a></blockquote></div>
      </div>
    </div>
    <div class="col-sm-6 col-12 b-r">
      <div class="titulo">
        <img src="/img/uploads/insta-bar.png">
      </div>
      <div class="box-rede">
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="https://cdn.lightwidget.com/widgets/1161e6e05ea051459dc3add0017c303f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
      </div>
      </div>
    </div>
  </div>
