<!-- Add custom HTML to append on homepage bottom. -->
<div class="diferencas">
    <div class="container">
      <h2>Porque BlowHair?</h2>
      <h3>Veja a comparação porque nosso produto é o melhor do mercado</h3>
      <div class="row d-flex">
        <div class="col-sm-6 col-12 blow1">
          <img src="/img/uploads/newblog.png" alt="Blow Gummies">
        </div>
        <div class="col-sm-6 col-12 blow1">
          <img src="/img/uploads/crueldades.png" alt="Blow Gummies">
        </div>
      </div>
    </div>
</div>
<div class="texto-central">
  <div class="container">
    <a href="/compre-agora/">Compre Agora Nossas Gomas <!--Fantásticas Que Farão Seu Cabelo Crescer Rápido!--> </a>
  </div>
</div>
<div class="antes-depois">
  <div class="container">
    <div class="title-depois">
      <h2 class="title-antes">Confira o Antes e Depois</h2>
    </div>
    <script src="https://www.powr.io/powr.js?platform=html"></script><div class="powr-social-feed" id="65671ba5_1559056571"></div>
    <div class="box-class"></div>
  </div>
</div>
