<!-- Add custom HTML to append on homepage bottom. -->
<div class="diferencas">
    <div class="container">
      <h2>Porque BlowHair?</h2>
      <h3>Veja a comparação porque nosso produto é o melhor do mercado</h3>
      <div class="col-sm-6 col-xs-12 blow1">
        <img src="//cdn.ecvol.com/s/www.blowhair.com.br/uploads/newblog.png" alt="Blow Gummies">
      </div>
      <div class="col-sm-6 col-xs-12 blow1">
        <img src="//cdn.ecvol.com/s/www.blowhair.com.br/uploads/crueldades.png" alt="Blow Gummies">
      </div>
    </div>
</div>
